<a href="" class="nav-trigger">
  Menu<span></span>
</a>
<nav class="nav-container" id="navigation">
  <ul class="nav">
    <h2>Site</h2>
    <li><a href="/">Home</a></li>
    <h2>Users</h2>
    <li><a href="/user">List of User</a></li>
    <li><a href="/user/register">Register User</a></li>
    <li><a href="/user/reset">Reset User</a></li>
    <h2>Account</h2>
    <li><a href="/account/password">Change Password</a></li>
    <li><a id="logout">Logout</a></li>
  </ul>
</nav>
<div class="overlay"></div>
<%- include('../app') %>
