html, body {
  margin: 0;
}
.content, .content * {
  font-size: 3vw;
  margin: 0;
  color: #fed;
  align-items: center;
  justify-content: center;
  background: #233245;
}
.content, .content pre {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 3vw "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content h1 {
  padding: 1em;
}
.content h2 {
  padding: 0.5vh;
  text-align: left;
}
.content h3 {
  padding: 1em;
  text-align: left;
}
.content h3 > span {
  font-weight: 100;
}
.content h3 > span > input {
  margin: 0 1vw 0 5vw;
}
.content summary {
  margin-left: 2vw;
  padding: 1vh 1vw;
  text-align: left;
}
.content .page-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  overflow: scroll;
}
.content #status {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
}
.content .page-area > table {
  width: 100%;
  text-align: center;
}
.content table {
  width: 100%;
  table-layout: fixed;
}
.content table td {
  width: 100%;
}
.content a {
  text-decoration: none;
  color: #20c7FF;
  cursor: pointer;
}
.content td > div {
  margin: 0.2vh;
}
.content details > details {
  margin-left: 4vw;
}
.content details > div {
  margin: 0.6vh;
}
.content .url {
  margin: 0.5em 2em;
  color: cadetblue;
}
.content [id^=list-] {
  overflow: auto;
  text-align: left;
}
.content #status > pre {
  width: 100%;
  height: 85%;
  bottom: 0;
  position: absolute;
  margin: 1vh 1vw 0 0;
  overflow: scroll;
  font-size: 2vw;
  font-family: "monospace", "monaco", "Ricty";
}
.content .purupuru {
  -webkit-animation: purupuru 0.8s linear 0s 1;
  animation: purupuru 0.8s linear 0s 1;
}
@-webkit-keyframes purupuru {
  0%   { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { -webkit-transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
  50%  { -webkit-transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
  65%  { -webkit-transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
  80%  { -webkit-transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
  100% { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
}
@keyframes purupuru {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
  50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
  65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
  80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

div.s-content {
  padding: 5vw;
  font: 3vw "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #9de3ff;
}
div.s-content a {
  color: #00B7FF;
}
div.s-content h3.partial-head {
  margin: 0 15vw 5vw 5vw;
  padding-right: 1vw;
  text-align: center;
  color: #c0cecf;
  background-color: #192141;
  border-radius: 4vw;
}
div.s-content span.small {
  font-size: 2.4vw;
}
